<title>{{title}}</title>

{{#if infoProyecto}}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="text-primary fs-5">Argumentos de entrada :
                [
                <span class="text-dark">
                    {{#each infoProyecto.argumentos}}
                    <br>
                    {{this}}
                    {{/each}}
                </span>
                ]
            </p>
            <p class="text-primary fs-5">Plataforma : <span class="text-dark">{{infoProyecto.plataforma}}</span></p>
            <p class="text-primary fs-5">Versión de Node.js : <span
                    class="text-dark">{{infoProyecto.versionNode}}</span></p>
            <p class="text-primary fs-5">Memoria total reservada MB: <span
                    class="text-dark">{{infoProyecto.memoriaTotalReservada}}</span></p>
            <p class="text-primary fs-5">Path de ejecución Node : <span
                    class="text-dark">{{infoProyecto.pathEjecucion}}</span></p>
            <p class="text-primary fs-5">Proccess Id : <span class="text-dark">{{infoProyecto.processId}}</span></p>
            <p class="text-primary fs-5">Directorio actual del trabajo : <span
                    class="text-dark">{{infoProyecto.directorioActualTrabajo}}</span></p>
            <p class="text-primary fs-5">Número de procesadores : <span
                    class="text-dark">{{infoProyecto.numProcesadores}}</span></p>
            <p class="text-primary fs-5">Escuchando en Puerto : <span class="text-dark">{{infoProyecto.PORT}}</span></p>
        </div>
    </div>
    {{else}}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center mt-3 mb-3 text-primary">"No hay informacion del proyecto"</h2>
            </div>
        </div>
    </div>
    {{/if}}